<tr>
    <td class="row_col">{{gis_analyst}}</td>
    <td class="row_col">{{project_priority}}</td>
    <td class="row_col">{{project_manager}}</td>
    <td class="row_col">{{project_name}}</td>
    <td class="row_col">{{project_number}}</td>
    <td class="row_col">{{map_requested}}</td>
    <td class="row_col">{{due_date}}</td>
    <td class="row_col" id="coordinates">{{latitude}} , {{longitude}}</td>
    <td class="row_col">{{notes_comments}}</td>
    <td class="rol_col">
        <button class="delete-request" data-id="{{this.id}}">DELETE</button>
    </td>
    </td>
</tr>